[alias]
    st = status
    ts = status
    df = diff
    co = checkout
    ci = commit --verbose
    pl = pull --all
    wta = worktree add
    wt = worktree
[user]
    name = bajelidze
    email = nflashy1@gmail.com
[commit]
    gpgsign = false
[push]
    default = current
[init]
    defaultBranch = master
[credential]
    helper = store
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
